body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    margin: 10px;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;

}

label{
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}
input[type="submit"]:hover{
    background-color: brown;
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
#show-hide{
    position: relative;
    top: -10px;
    float: right;
    color: rgb(242, 139, 12);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}
#show-hide:hover{
    border-bottom: 1px solid rgb(234, 3, 3);
    color: rgb(33, 36, 109);
}
